  .tec-bg {
    background: var(--cor11);
    box-shadow: inset 0 80px var(--cor1), inset 0 -80px var(--cor1) ;
  } @media (max-width: 800px){
    .tec-bg{
      box-shadow: initial;
    }
  }
  .tec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .tec-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;

  } @media (max-width: 800px){
    .tec-img {
      display: none;
    }
  }

  .tec-conteudo {
    padding-top: 160px;
    padding-bottom: 160px;

  } @media (max-width: 800px) {
    .tec-conteudo {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  .tec-conteudo > span {
    margin-bottom: 20px;
    display: block;
  }
  .tec-conteudo h2 {
    margin-bottom: 32px;
  }
  .tec-conteudo > p {
    margin-bottom: 20px;
  }
  .tec-conteudo a {
    margin-bottom: 40px;

  } @media (max-width: 800px){
    .tec-conteudo a {
      margin-bottom: 60px;
    }
  }
  .tec-vantagens {
    display: flex;
    gap: 40px;

  } @media (max-width: 800px){
    .tec-vantagens {
      flex-direction: column;
    }
  }
  
  .tec-vantagens h3 {
    margin-bottom: 8px;
    width: max-content;
  }
  .tec-vantagens img {
    width: 24px;
    margin-bottom: 8px;
  }

  @media (max-width: 800px){
    .tec {
      grid-template-columns: 1fr;
    }
  }